.project-box {

}

.project-icon{
	height: 150px;
	width: 150px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 3px 3px 3px 3px;
	border-color: rgba(0,0,0,.2);
	box-shadow: 0 0 15px rgba(0,0,0,.08);
}